<div class="off-screen-menu">
    <ul class="header_ul">
        <li><a href="/">Main Page</a></li>
        <li><a href="/banking/">Bank</a></li>
        <li><a href="/shop/">E-Shop</a></li>
        <li><a href="/forum/">Forum</a></li>
        <li><a href="/advertisement">Advertisement</a></li>
        <li><a href="/chatbot/">Support Chat</a></li>
        <li><a href="/community/">Community</a></li>
    </ul>
</div>
<header class="header_L_R">
    <button class="Todo_button"><strong>V.R.C</strong></button>
</header>
